/* hero background image */

.bgimage {
    height:100vh;
    background: url('media/images/bgimage.jpg');
    background-size:cover;
    position:relative;

}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #0d6efd;
}
.servicesText:hover {
    border: 1px solid #0d6efd;
}

.nav-link{
    font-size: large;
    color: white;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
.btn {
    background-color: #0d6efd;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-github:hover {
    color: #0d6efd;
}
.fab {
    color: #ffff;
}
/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}

/* spacing on all sections */
#about, #services, #portfolio {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    margin-top: 5rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: rgb(236, 236, 236);
}

#role{
    margin-top: 4rem;
    padding: 1rem;
    border-width: 3px;
    border-color: #7ca5e371;
    border-style: solid;
}

input[type="text"]{
  height: 300px;  
  resize: none; 
  overflow: auto;
}

form{
  margin: 0 auto;
  width: 340px;
  padding-bottom: 10px;
  color: white;
  position: relative;
}

button[type="submit"]:hover{
  background-color: #0057d9;
  width: 340px;
}

button[type="submit"]{
    width: 340px;
}

label{
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

/* Fixing the "IPHONE NOTCH PROBLEM */

.post {
    padding: 12px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

@supports(padding: max(0px)) {
    .post {
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}

